In [1]:
%matplotlib inline
import os
from glob import glob
from subprocess import Popen, PIPE
import pandas as pd

# Instacart Market Basket Analysis

In [2]:
# Instacart framed another analytics problem in the space of grocery retail
# https://www.kaggle.com/c/instacart-market-basket-analysis
# They've open sourced 3 million instacart orders, providing grocery transactions
# at another level of granularity
# With historical grocery baskets, we seek to predict which products will be in 
# future baskets given a rich relational dataset

## Inspecting the contest data ...

In [3]:
DATA_DIR = '../data/'
for fl in sorted(glob(DATA_DIR + '*.csv')):
    p = Popen(['head', '{}'.format(fl)], stdin=PIPE, stdout=PIPE, stderr=PIPE)
    a, b = p.communicate()
    print('#'*30 + '  Head on file: {}'.format(fl))
    for ll in a.decode('ascii').split('\n'):
        print(ll)

##############################  Head on file: ../data/aisles.csv
aisle_id,aisle
1,prepared soups salads
2,specialty cheeses
3,energy granola bars
4,instant foods
5,marinades meat preparation
6,other
7,packaged meat
8,bakery desserts
9,pasta sauce

##############################  Head on file: ../data/departments.csv
department_id,department
1,frozen
2,other
3,bakery
4,produce
5,alcohol
6,international
7,beverages
8,pets
9,dry goods pasta

##############################  Head on file: ../data/order_products__prior.csv
order_id,product_id,add_to_cart_order,reordered
2,33120,1,1
2,28985,2,1
2,9327,3,0
2,45918,4,1
2,30035,5,0
2,17794,6,1
2,40141,7,1
2,1819,8,1
2,43668,9,0

##############################  Head on file: ../data/order_products__train.csv
order_id,product_id,add_to_cart_order,reordered
1,49302,1,1
1,11109,2,1
1,10246,3,0
1,49683,4,0
1,43633,5,1
1,13176,6,0
1,47209,7,0
1,22035,8,1
36,39612,1,0

##############################  Head on file: ../data/orders.csv
order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2539329,1,prior,1,2,08,
2398795,1,prior,2,3,07,15.0
473747,1,prior,3,3,12,21.0
2254736,1,prior,4,4,07,29.0
431534,1,prior,5,4,15,28.0
3367565,1,prior,6,2,07,19.0
550135,1,prior,7,1,09,20.0
3108588,1,prior,8,1,14,14.0
2295261,1,prior,9,1,16,0.0

##############################  Head on file: ../data/products.csv
product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1
5,Green Chile Anytime Sauce,5,13
6,Dry Nose Oil,11,11
7,Pure Coconut Water With Orange,98,7
8,Cut Russet Potatoes Steam N' Mash,116,1
9,Light Strawberry Blueberry Yogurt,120,16

##############################  Head on file: ../data/sample_submission.csv
order_id,products
17,39276 29259
34,39276 29259
137,39276 29259
182,39276 29259
257,39276 29259
313,39276 29259
353,39276 29259
386,39276 29259
414,39276 29259

In [4]:
# From the sample submission, we see the expected output includes an order_id and a space-separated
# list of product ids. 
# From the description, contestants should "predict which previously purchased 
# products will be in a userâ€™s next order"
# Perhaps the sample examples are globally popular? We will focus on a personalized baseline.
# Submissions are evaluated according to mean F1 score.
# https://www.kaggle.com/c/instacart-market-basket-analysis#evaluation

## Load orders.csv into pandas dataframe

In [5]:
orders = pd.read_csv(DATA_DIR + 'orders.csv')

In [6]:
orders.head(50)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
30,2710558,3,prior,5,0,17,12.0
31,1972919,3,prior,6,0,16,7.0
32,1839752,3,prior,7,0,15,7.0
33,3225766,3,prior,8,0,17,7.0
34,3160850,3,prior,9,0,16,7.0
35,676467,3,prior,10,3,16,17.0
36,521107,3,prior,11,0,18,11.0
37,1402502,3,prior,12,1,15,15.0
38,2774568,3,test,13,5,15,11.0
39,3343014,4,prior,1,6,11,NaN
40,2030307,4,prior,2,4,11,19.0
41,691089,4,prior,3,4,15,21.0
42,94891,4,prior,4,5,13,15.0
43,2557754,4,prior,5,5,13,0.0
44,329954,4,test,6,3,12,30.0
45,2717275,5,prior,1,3,12,NaN
46,1909121,5,prior,2,0,16,11.0
47,2267326,5,prior,3,3,18,10.0
48,157374,5,prior,4,1,18,19.0
49,2196797,5,train,5,0,11,6.0

In [7]:
# Above, we find that orders.csv specifies which instances belong to prior/train/test splits
# The prior split is the largest
# This file also includes day of the week, hour of the day, and days since prior order to
# support an investigation into the relationship between grocery baskets and periodic effects

## Before all that, let's combine orders, users, and products over the prior split

In [8]:
prior_orders = pd.merge(orders.query("eval_set=='prior'")[['order_id', 'user_id']], 
         pd.read_csv(DATA_DIR + 'order_products__prior.csv'))

In [9]:
prior_orders.head(30)

    order_id  user_id  product_id  add_to_cart_order  reordered
0    2539329        1         196                  1          0
1    2539329        1       14084                  2          0
2    2539329        1       12427                  3          0
3    2539329        1       26088                  4          0
4    2539329        1       26405                  5          0
5    2398795        1         196                  1          1
6    2398795        1       10258                  2          0
7    2398795        1       12427                  3          1
8    2398795        1       13176                  4          0
9    2398795        1       26088                  5          1
10   2398795        1       13032                  6          0
11    473747        1         196                  1          1
12    473747        1       12427                  2          1
13    473747        1       10258                  3          1
14    473747        1       25133                  4          0
15    473747        1       30450                  5          0
16   2254736        1         196                  1          1
17   2254736        1       12427                  2          1
18   2254736        1       10258                  3          1
19   2254736        1       25133                  4          1
20   2254736        1       26405                  5          1
21    431534        1         196                  1          1
22    431534        1       12427                  2          1
23    431534        1       10258                  3          1
24    431534        1       25133                  4          1
25    431534        1       10326                  5          0
26    431534        1       17122                  6          0
27    431534        1       41787                  7          0
28    431534        1       13176                  8          1
29   3367565        1         196                  1          1

# Creature-of-Habit Assumption

## People will reorder products they've often reordered in the past

In [10]:
# We will filter the dataframe above for reordered products, focusing on user_id & product_id
# To start, let's simply aggregate by the most commonly reordered product per user

In [11]:
usr_prod_mode_srs = prior_orders[['user_id', 'product_id', 'reordered']].query("reordered=='1'").drop('reordered', axis=1).groupby(['user_id']).agg(lambda x:x.value_counts().index[0])

In [12]:
order_user_srs = orders.query("eval_set=='test'")[['order_id', 'user_id']]

In [13]:
order_product_df = pd.merge(usr_prod_mode_srs.reset_index(), order_user_srs)[['order_id', 'product_id']]

In [14]:
order_prod_dict = dict(order_product_df.values)

In [15]:
# Now we have a dictionary to lookup the most commonly reordered product over the train split for each user

In [16]:
sub = pd.read_csv(DATA_DIR + 'sample_submission.csv')

In [17]:
sub['products'] = sub['order_id'].replace(order_prod_dict)

In [18]:
sub.head()

   order_id  products
0        17     13107
1        34     39180
2       137     41787
3       182      9337
4       257     49235

### This model assumes:
*  Ignores changing preference in time
*  Assumes each order comes with only one item
*  Ignores similarity between users and items

### Further Directions
*  Explore similarity among items, users clustering/embeddings
*  Explore temporal trends
*  Modeling the user's number of reorders: 0, 1, 2, ...
*  Optimization with gradient boosting: http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/